:root {
    /* Timings Erfahrungen */
    --anim-duration-jahrh3: 0s;
    --anim-duration-jobkarte: 600ms;
    --anim-duration-zeitlinie: 400ms;
    --anim-delay-zeitraum: 350ms;
    --anim-duration-zeitraum: 650ms;
}

/*
    Animationen Shapes
*/
.shape-1 {
    animation-name: zeitraum-blend-in;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.shape-2 {
    animation-name: zeitraum-blend-in, shape-2-movement;
    animation-duration: 3000ms, 4500ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse, alternate;
    animation-iteration-count: infinite;
}

.shape-3 {
    animation-name: shape-3-movement;
    animation-duration: 15000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.shape-4 {
    animation-name: shape-4-movement;
    animation-duration: 8000ms;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.shape-5 {
    animation-name: shape-5-movement;
    animation-duration: 20000ms;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/*
    Animationen Jobs
*/

.erfahrungen.animate .jahr h3 {
    animation-name: jobkarte-blend-in;
    animation-duration: var(--anim-duration-jahrh3);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.erfahrungen.animate .jahr .job .jobkarte {
    animation-name: jobkarte-blend-in;
    animation-duration: var(--anim-duration-jobkarte);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.erfahrungen.animate .zeitraum-linie::after {
    animation-name: zeitraum-linie-draw;
    animation-duration: var(--anim-duration-jobkarte);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.erfahrungen.animate .zeitraum {
    animation-name: jobkarte-blend-in, zeitraum-blend-in;
    animation-duration: var(--anim-duration-zeitraum);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.erfahrungen.animate .jahr:nth-child(2) h3 {
    animation-delay: calc(var(--anim-duration-jahrh3)*0 + var(--anim-duration-jobkarte)*0 + var(--anim-duration-zeitlinie)*0 + var(--anim-delay-zeitraum)*0 + var(--anim-duration-zeitraum)*0);
}

.erfahrungen.animate .jahr:nth-child(2) .jobkarte {
    animation-delay: calc(var(--anim-duration-jahrh3)*1 + var(--anim-duration-jobkarte)*0 + var(--anim-duration-zeitlinie)*0 + var(--anim-delay-zeitraum)*0 + var(--anim-duration-zeitraum)*0);
}

.erfahrungen.animate .jahr:nth-child(2) .zeitraum-linie::after {
    animation-delay: calc(var(--anim-duration-jahrh3)*1 + var(--anim-duration-jobkarte)*1 + var(--anim-duration-zeitlinie)*0 + var(--anim-delay-zeitraum)*0 + var(--anim-duration-zeitraum)*0);
}

.erfahrungen.animate .jahr:nth-child(2) .zeitraum {
    animation-delay: calc(var(--anim-duration-jahrh3)*1 + var(--anim-duration-jobkarte)*1 + var(--anim-duration-zeitlinie)*1 + var(--anim-delay-zeitraum)*1 + var(--anim-duration-zeitraum)*0);
}

.erfahrungen.animate .jahr:nth-child(3) h3 {
    animation-delay: calc(var(--anim-duration-jahrh3)*1 + var(--anim-duration-jobkarte)*1 + var(--anim-duration-zeitlinie)*1 + var(--anim-delay-zeitraum)*1 + var(--anim-duration-zeitraum)*1);
}

.erfahrungen.animate .jahr:nth-child(3) .jobkarte {
    animation-delay: calc(var(--anim-duration-jahrh3)*2 + var(--anim-duration-jobkarte)*1 + var(--anim-duration-zeitlinie)*1 + var(--anim-delay-zeitraum)*1 + var(--anim-duration-zeitraum)*1);
}

.erfahrungen.animate .jahr:nth-child(3) .zeitraum-linie::after {
    animation-delay: calc(var(--anim-duration-jahrh3)*2 + var(--anim-duration-jobkarte)*2 + var(--anim-duration-zeitlinie)*1 + var(--anim-delay-zeitraum)*1 + var(--anim-duration-zeitraum)*1);
}

.erfahrungen.animate .jahr:nth-child(3) .zeitraum {
    animation-delay: calc(var(--anim-duration-jahrh3)*2 + var(--anim-duration-jobkarte)*2 + var(--anim-duration-zeitlinie)*2 + var(--anim-delay-zeitraum)*2 + var(--anim-duration-zeitraum)*1);
}

.erfahrungen.animate .jahr:nth-child(4) h3 {
    animation-delay: calc(var(--anim-duration-jahrh3)*2 + var(--anim-duration-jobkarte)*2 + var(--anim-duration-zeitlinie)*2 + var(--anim-delay-zeitraum)*2 + var(--anim-duration-zeitraum)*2);
}

.erfahrungen.animate .jahr:nth-child(4) .jobkarte {
    animation-delay: calc(var(--anim-duration-jahrh3)*3 + var(--anim-duration-jobkarte)*2 + var(--anim-duration-zeitlinie)*2 + var(--anim-delay-zeitraum)*2 + var(--anim-duration-zeitraum)*2);
}

.erfahrungen.animate .jahr:nth-child(4) .zeitraum-linie::after {
    animation-delay: calc(var(--anim-duration-jahrh3)*3 + var(--anim-duration-jobkarte)*3 + var(--anim-duration-zeitlinie)*2 + var(--anim-delay-zeitraum)*2 + var(--anim-duration-zeitraum)*2);
}

.erfahrungen.animate .jahr:nth-child(4) .zeitraum {
    animation-delay: calc(var(--anim-duration-jahrh3)*3 + var(--anim-duration-jobkarte)*3 + var(--anim-duration-zeitlinie)*3 + var(--anim-delay-zeitraum)*3 + var(--anim-duration-zeitraum)*2);
}



/*
    Keyframes
*/

@keyframes zeitraum-linie-draw {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@keyframes jobkarte-blend-in {
    0% {
        transform: translateX(-15px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zeitraum-blend-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shape-2-movement {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(75%, 5%);
    }
}

@keyframes shape-3-movement {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shape-4-movement {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.75);
    }
}

@keyframes shape-5-movement {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}