@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu;
    font-weight: lighter;
    src: url('/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    font-family: Ubuntu;
    font-weight: bold;
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 2rem;
}

#white-box {
    background: white;
    width: 100%;
    height: 30vh;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    color: black;
    width: 100%;
    height: 60px;
    margin: -5px 0 4rem 0;
    padding: 0;
    z-index: 1;
}

header h1 {
    position: absolute;
    bottom: 0;
    left: 1rem;
    margin: 0;
    transform: translateY(50%);
}

.name {
    display: block;
    transform: translateX(-5%) translateY(100%);
    animation-name: name-slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.surname {
    display: block;
    color: white;
    animation-name: surname-slideIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transform: translateX(30%) translateY(-100%);
}

body.fixed-header .surname {
    animation-name: surname-fixed-header;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    transform: translateX(-100%) translateY(40%);
}

body.unfix-header .surname {
    transform: translateX(30%) translateY(0%);
    color: black;
    animation-name: surname-unfix-header;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes surname-slideIn {
    0% {
        transform: translateX(35%) translateY(-100%);
    }

    25% {
        transform: translateX(35%);
    }

    100% {
        transform: translateX(30%) translateY(0%);
    }
}

@keyframes name-slideIn {
    0% {
        transform: translateX(-5%) translateY(100%);
    }

    25% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes surname-fixed-header {
    0% {
        transform: translateX(30%) translateY(0%);
        color: white;
    }

    25% {
        transform: translateX(30%) translateY(-100%);
    }

    100% {
        transform: translateX(40%) translateY(-100%);
        color: black;
    }
}

@keyframes surname-unfix-header {
    0% {
        transform: translateX(40%) translateY(-100%);
        color: black;
    }

    25% {
        transform: translateX(40%) translateY(0%);
        color: white;
    }

    100% {
        transform: translateX(30%) translateY(0%);
        color: white;
    }
}

main,
footer {
    padding: 1.75rem;
}

p {
    margin: 0 0 1rem 0;
    padding: 0;
}

sub {
    color: #cccccc;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section.intro-snippet ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

section.intro-snippet ul li {
    padding: 0 0 1.75rem 0;
}


section.intro-snippet {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-5%);
    transition: all 1s ease-in-out;
}


section.intro-snippet:nth-child(2n) {
    align-items: flex-end;
    text-align: end;
    margin-left: auto;
    transform: translateX(5%);
}

section.intro-snippet img {
    width: 100%;
    border-radius: 15px;
}

section.intro-snippet.show-snippet {
    opacity: 1;
    transform: translateX(0%);
}

.contact {
    width: 100%;
    margin-bottom: 1.75rem;
}

.contact ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.contact li {
    margin-right: 1rem;
    opacity: 0;
    transform: translateX(-25%);
    transition: all 1s ease-in-out;
}

.contact li.show-contact {
    opacity: 1;
    transform: translateX(0%);
}

.contact li.show-contact:nth-child(1) {
    transition-delay: 0.25s;
}

.contact li.show-contact:nth-child(2) {
    transition-delay: 0.5s;
}

@media screen and (min-width: 768px) {
    header h1 {
        left: 20%;
    }

    main,
    footer {
        padding: 1.75rem 20%;
    }

    section.intro-snippet {
        max-width: 45%;
    }
}

@media (prefers-reduced-motion) {
    .name,
    body.unfix-header .name {
        animation: none;
        transform: translateX(0%) translateY(0%);
    }

    .surname,
    body.unfix-header .surname {
        animation: none;
        transform: translateX(30%) translateY(0%);
        color: white;
    }

    body.fixed-header .surname {
        animation: none;
        transform: translateX(40%) translateY(-100%);
        color: black;
    }

    section.intro-snippet {
        transition: none;
    }

    .contact li {
        transition: none;
    }
}
