* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Fira Sans, sans-serif;
    font-style: normal;
    line-height: normal;
    background: #1C2435;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    margin: auto 0;
    width: 100%;
    max-width: 1280px;
    padding: 25px;
}

header .logo {
    display: flex;
    align-items: center;
    transform: scale(0);
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

main {
    position: relative;
    margin: auto;
    max-width: 1280px;
    height: 100%;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 50px;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background: linear-gradient(135deg, #1b57da, #f7137e, #3c83f5);
    background-size: 200% 200%;
    animation: gradient-animation 25s ease-in-out infinite;
}

/* .blur {
    position: absolute;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(350px);
    -webkit-backdrop-filter: blur(350px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
} */

.shape.hidden {
    visibility: hidden;
}

/* .shape-1 {
    position: absolute;
    left: calc(-1 * 750px / 2);
    top: calc(50% - 750px / 2);
    width: 750px;
    height: 750px;
    background: #00A3FF;
    z-index: -20;
    border-radius: 120px;
}

.shape-2 {
    position: absolute;
    left: calc(-1 * 450px / 2 + 750px / 2);
    top: calc(50% - 600px / 2 + 650px / 2);
    width: 450px;
    height: 600px;
    background: #6100FF;
    border-radius: 200px 200px 75px 75px;
    z-index: -20;
}

.shape-3 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 450px;
    height: 850px;
    transform: rotate(-65deg);
    border-radius: 75px;
    background: #06F;
    z-index: -20;
}

.shape-4 {
    position: absolute;
    right: 15%;
    top: 50%;
    width: 575px;
    height: 750px;
    transform: rotate(-45deg);
    border-radius: 100%;
    background: #F53B7E;
    z-index: -20;
}

.shape-5 {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 600px;
    height: 600px;
    z-index: -20;
    border-radius: 100%;
    background-color: #16FF02;
} */

.name {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 0px 50px;
    align-items: center;
}

.name h1 {
    width: 100%;
    font-size: 8rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-animate.name-container {
    position: fixed;
    top: 0;
    padding: 0 50px;
}

.ueber-mich {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.infos {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
}

.infos p {
    margin: 0 0 25px 0;
}

.infos p:last-child {
    margin: 0;
}

.ueber-mich .bilder {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.ueber-mich .bilder img {
    width: 235px;
    height: 235px;
    background: white;
    border-radius: 25px;
    margin: 25px;
    object-fit: cover;
}

.erfahrungen {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.erfahrungen .job {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.erfahrungen .jahr:last-child{
    margin-bottom: auto;
}

.erfahrungen .jahr h3 {
    opacity: 1;
}

.erfahrungen .job .zeitraum-linie {
    display: flex;
    position: relative;
    width: 120px;
    height: 1px;
    margin: 0 25px;
}

.erfahrungen .job .zeitraum-linie::after {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: #ffffff00;
    border-top: 1px dotted white;
}

.erfahrungen .job .zeitraum {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0;
}

.erfahrungen .job .jobkarte {
    display: flex;
    width: 100%;
    border-radius: 25px;
    background: #D9D9D9;
    color: #000;
    padding: 15px 25px;
    opacity: 0;
}

.erfahrungen .job .jobkarte img {
    width: 88px;
    height: 88px;
    background: white;
    border-radius: 15px;
    margin: auto 0;
}

.erfahrungen .job .jobkarte .jobdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.erfahrungen .job .jobkarte p {
    padding: 0;
    margin: 0;
}

.erfahrungen .job .jobkarte .unternehmen {
    font-size: 2.5rem;
    font-weight: 700;
}

.erfahrungen .job .jobkarte .position {
    font-size: 1.5rem;
    font-weight: 400;
}

.kontakt {
    display: flex;
    flex-direction: column;
}

.kontakt h2 {
    margin-top: auto;
    margin-bottom: 0;
}

.kontakt h3 {
    margin-bottom: 50px;
}

.kontakt-arten {
    margin-bottom: auto;
}

.kontakt-art {
    display: flex;
    align-items: center;
}

.kontakt-link {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 25px;
}

.kontakt-link:last-child {
    margin-bottom: 0;
}

.kontakt-art .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.kontakt-art i {
    font-size: 6.25rem;
}

.kontakt-art span {
    font-size: 2.5rem;
}


h2 {
    margin: auto 0 50px 0;
    font-size: 6rem;
    font-weight: 700;
}

h3 {
    margin: 0 0 25px 0;
    font-size: 3rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .name h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .erfahrungen .job {
        flex-direction: column-reverse;
    }

    .erfahrungen .job .zeitraum-linie {
        width: 50px;
        margin: 50px 15px;
        transform: rotate(-90deg);
    }

    .erfahrungen .job .zeitraum {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .erfahrungen .job .jobkarte {
        padding: 15px;
    }

    .erfahrungen .job .jobkarte img {
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 15px;
    }

    .erfahrungen .job .jobkarte .unternehmen {
        font-size: 1.25rem;
    }

    .erfahrungen .job .jobkarte .position {
        font-size: 1rem;
    }

    .kontakt-art span {
        font-size: 1rem;
    }

    .kontakt-art .logo {
        width: 65px;
        height: 65px;
    }

    .kontakt-art i {
        font-size: 3.25rem;
    }

    section {
        padding: 15px;
    }

    .infos {
        font-size: 1.5rem;
    }

    .ueber-mich .bilder img {
        width: 160px;
        height: 160px;
        margin: 15px;
    }
}

@media screen and (min-width: 375px) and (max-width: 500px) {
    .ueber-mich .bilder {
        display: grid;
        gap: 15px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .ueber-mich .bilder img {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .ueber-mich .bilder {
        display: flex;
    }

    .ueber-mich .bilder img {
        margin: 15px;
    }
}